# Pump it Up: Data Mining the Water Table

## Introduction

Using data from Taarifa and the Tanzanian Ministry of Water, can you predict which pumps are functional, which need some repairs, and which don't work at all? This is an intermediate-level practice competition. Predict one of these three classes based on a number of variables about what kind of pump is operating, when it was installed, and how it is managed. A smart understanding of which waterpoints will fail can improve maintenance operations and ensure that clean, potable water is available to communities across Tanzania.

## Objectives
- create a classifier
- clasify faulty pumps

## Tabel of contents

1. Import Datra
2. Data Analysis
    - 2.1 X_train & y_train info

## 1. Import Data
- import all the necessary classes, functions, and packages

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
%matplotlib inline

import xgboost as xgb

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_values = pd.read_csv('Water_Table_Training_set_values.csv')
df_labels = pd.read_csv('Water_Table_Training_set_labels.csv')

## 2. Data Analysis

In [ ]:
df_values.info()

In [ ]:
df_labels.info()

In [ ]:
df_values.isna().sum()

In [3]:
#Check if id columns in both datasets match
(df_values['id'] == df_labels['id']).sum()

59400

In [4]:
X = df_values.drop('id', axis=1)
y = df_labels.drop('id', axis=1)

In [5]:
y['status_group'].unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

In [6]:
y[y['status_group']=='non functional'] = 0
y[y['status_group']=='functional'] = 1
y[y['status_group']=='functional needs repair'] = 2

In [7]:
y['status_group'] = y['status_group'].astype(int)

In [8]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_group  59400 non-null  int64
dtypes: int64(1)
memory usage: 464.2 KB

In [9]:
X.head().T

,0,1,2,3,4
amount_tsh,6000,0,25,0,0
date_recorded,2011-03-14,2013-03-06,2013-02-25,2013-01-28,2011-07-13
funder,Roman,Grumeti,Lottery Club,Unicef,Action In A
gps_height,1390,1399,686,263,0
installer,Roman,GRUMETI,World vision,UNICEF,Artisan
longitude,34.9381,34.6988,37.4607,38.4862,31.1308
latitude,-9.85632,-2.14747,-3.82133,-11.1553,-1.82536
wpt_name,none,Zahanati,Kwa Mahundi,Zahanati Ya Nanyumbu,Shuleni
num_private,0,0,0,0,0
basin,Lake Nyasa,Lake Victoria,Pangani,Ruvuma / Southern Coast,Lake Victoria
subvillage,Mnyusi B,Nyamara,Majengo,Mahakamani,Kyanyamisa
region,Iringa,Mara,Manyara,Mtwara,Kagera
region_code,11,20,21,90,18
district_code,5,2,4,63,1
lga,Ludewa,Serengeti,Simanjiro,Nanyumbu,Karagwe
ward,Mundindi,Natta,Ngorika,Nanyumbu,Nyakasimbi
population,109,280,250,58,0
public_meeting,True,NaN,True,True,True
recorded_by,GeoData Consultants Ltd,GeoData Consultants Ltd,GeoData Consultants Ltd,GeoData Consultants Ltd,GeoData Consultants Ltd
scheme_management,VWC,Other,VWC,VWC,NaN
scheme_name,Roman,NaN,Nyumba ya mungu pipe scheme,NaN,NaN
permit,False,True,True,True,True
construction_year,1999,2010,2009,1986,0
extraction_type,gravity,gravity,gravity,submersible,gravity
extraction_type_group,gravity,gravity,gravity,submersible,gravity
extraction_type_class,gravity,gravity,gravity,submersible,gravity
management,vwc,wug,vwc,vwc,other
management_group,user-group,user-group,user-group,user-group,other
payment,pay annually,never pay,pay per bucket,never pay,never pay
payment_type,annually,never pay,per bucket,never pay,never pay
water_quality,soft,soft,soft,soft,soft
quality_group,good,good,good,good,good
quantity,enough,insufficient,enough,dry,seasonal
quantity_group,enough,insufficient,enough,dry,seasonal
source,spring,rainwater harvesting,dam,machine dbh,rainwater harvesting
source_type,spring,rainwater harvesting,dam,borehole,rainwater harvesting
source_class,groundwater,surface,surface,groundwater,surface
waterpoint_type,communal standpipe,communal standpipe,communal standpipe multiple,communal standpipe multiple,communal standpipe
waterpoint_type_group,communal standpipe,communal standpipe,communal standpipe,communal standpipe,communal standpipe

In [10]:
object_X = X.select_dtypes(include ='object').columns

for column in object_X:
    unique_val = len(X[column].unique())
    print(f'{column}:\t\t\t{unique_val}')

date_recorded:			356
funder:			1898
installer:			2146
wpt_name:			37400
basin:			9
subvillage:			19288
region:			21
lga:			125
ward:			2092
public_meeting:			3
recorded_by:			1
scheme_management:			13
scheme_name:			2697
permit:			3
extraction_type:			18
extraction_type_group:			13
extraction_type_class:			7
management:			12
management_group:			5
payment:			7
payment_type:			7
water_quality:			8
quality_group:			6
quantity:			5
quantity_group:			5
source:			10
source_type:			7
source_class:			3
waterpoint_type:			7
waterpoint_type_group:			6

In [51]:
# Columns to drop
# 'date_recorded', 'funder', 'wpt_name', 'subvillage', 'ward', 'lga', 'scheme_name'

In [11]:
X.drop(columns=['date_recorded', 'installer', 'funder', 'wpt_name', 'subvillage', 'ward', 'lga', 'scheme_name'], 
             axis=1,
            inplace=True)

In [12]:
object_X = X.select_dtypes(include ='object').columns
X = pd.get_dummies(X, columns=object_X)
X

,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,basin_Internal,...,waterpoint_type_dam,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,waterpoint_type_group_cattle trough,waterpoint_type_group_communal standpipe,waterpoint_type_group_dam,waterpoint_type_group_hand pump,waterpoint_type_group_improved spring,waterpoint_type_group_other
0,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,0,...,0,0,0,0,0,1,0,0,0,0
1,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,0,...,0,0,0,0,0,1,0,0,0,0
2,25.0,686,37.460664,-3.821329,0,21,4,250,2009,0,...,0,0,0,0,0,1,0,0,0,0
3,0.0,263,38.486161,-11.155298,0,90,63,58,1986,0,...,0,0,0,0,0,1,0,0,0,0
4,0.0,0,31.130847,-1.825359,0,18,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,10.0,1210,37.169807,-3.253847,0,3,5,125,1999,0,...,0,0,0,0,0,1,0,0,0,0
59396,4700.0,1212,35.249991,-9.070629,0,11,4,56,1996,0,...,0,0,0,0,0,1,0,0,0,0
59397,0.0,0,34.017087,-8.750434,0,12,7,0,0,0,...,0,1,0,0,0,0,0,1,0,0
59398,0.0,0,35.861315,-6.378573,0,1,4,0,0,0,...,0,1,0,0,0,0,0,1,0,0
59399,0.0,191,38.104048,-6.747464,0,5,2,150,2002,0,...,0,1,0,0,0,0,0,1,0,0

In [13]:
X = pd.get_dummies(X, columns=['region_code', 'district_code'])
X

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,...,district_code_23,district_code_30,district_code_33,district_code_43,district_code_53,district_code_60,district_code_62,district_code_63,district_code_67,district_code_80
0,6000.0,1390,34.938093,-9.856322,0,109,1999,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,1399,34.698766,-2.147466,0,280,2010,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,25.0,686,37.460664,-3.821329,0,250,2009,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,263,38.486161,-11.155298,0,58,1986,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.0,0,31.130847,-1.825359,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,10.0,1210,37.169807,-3.253847,0,125,1999,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59396,4700.0,1212,35.249991,-9.070629,0,56,1996,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59397,0.0,0,34.017087,-8.750434,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59398,0.0,0,35.861315,-6.378573,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59399,0.0,191,38.104048,-6.747464,0,150,2002,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [15]:
scaler = StandardScaler()

# Transform the training and test sets
scaled_data_train = scaler.fit_transform(X_train)
scaled_data_test = scaler.transform(X_test)

# Convert into a DataFrame
scaled_X_train = pd.DataFrame(scaled_data_train, columns=X_train.columns)
scaled_X_train

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,...,district_code_23,district_code_30,district_code_33,district_code_43,district_code_53,district_code_60,district_code_62,district_code_63,district_code_67,district_code_80
0,-0.093074,-0.487869,0.616411,-0.129019,-0.037802,-0.209732,0.702954,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
1,-0.099150,-0.964042,-5.221778,1.940133,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
2,-0.099150,-0.964042,-0.120413,0.983559,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
3,-0.099150,1.260983,0.104811,0.294199,-0.037802,-0.330739,0.742927,2.572798,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
4,-0.099150,-0.209380,0.086112,-1.699526,-0.037802,-0.377444,0.746083,-0.388682,3.302814,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44545,0.204654,-0.492198,0.347390,-1.042602,-0.037802,0.161782,0.727148,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
44546,0.204654,1.551016,0.066293,-1.380771,-0.037802,-0.305264,0.719785,-0.388682,3.302814,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
44547,-0.099150,-0.982800,0.746666,0.097476,-0.037802,1.743370,0.737667,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
44548,-0.099150,-0.964042,0.033378,0.883940,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
44549,-0.099150,0.897361,0.540235,0.848488,-0.037802,-0.377444,0.707161,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606

In [16]:
# This will transform the selected columns and merge to the original data frame
scaled_X_test = pd.DataFrame(scaled_data_test, columns=X_test.columns)
scaled_X_test

,amount_tsh,gps_height,longitude,latitude,num_private,population,construction_year,basin_Internal,basin_Lake Nyasa,basin_Lake Rukwa,...,district_code_23,district_code_30,district_code_33,district_code_43,district_code_53,district_code_60,district_code_62,district_code_63,district_code_67,district_code_80
0,-0.099150,-0.964042,-0.323575,0.717651,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
1,-0.099150,-0.964042,-0.193843,0.259240,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
2,-0.096112,1.452895,0.212810,0.498167,-0.037802,-0.065372,0.740823,2.572798,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
3,-0.099150,-0.964042,-0.146675,-1.139353,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,4.781403,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
4,-0.083959,0.636187,0.018139,0.434098,-0.037802,0.119323,0.743979,2.572798,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,-0.099150,-0.964042,-0.200950,0.823019,-0.037802,-0.379567,-1.371444,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
14846,0.052752,0.334611,0.395165,-1.107425,-0.037802,-0.356215,0.711369,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
14847,-0.099150,0.620315,-0.436830,-0.222056,-0.037802,0.681901,0.740823,-0.388682,-0.302772,4.781403,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
14848,-0.099150,-0.964042,-0.000185,0.867417,-0.037802,-0.379567,-1.371444,2.572798,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606
14849,-0.099150,0.900247,-0.041500,1.271933,-0.037802,0.151167,0.702954,-0.388682,-0.302772,-0.209144,...,-0.072665,-0.130412,-0.121491,-0.092507,-0.11465,-0.034185,-0.043722,-0.057734,-0.008206,-0.011606

In [ ]:
# Columns to drop
# 'date_recorded', 'funder', 'wpt_name', 'subvillage', 'ward', 'lga', 'scheme_name'

In [18]:
clf = xgb.XGBClassifier(learning_rate = 0.1, max_depth = 6, min_child_weight = 10, n_estimators = 250, subsample = 0.7)

clf.fit(scaled_X_train, y_train)
training_preds = clf.predict(scaled_X_train)
val_preds = clf.predict(scaled_X_test)
training_accuracy = accuracy_score(y_train, training_preds)
val_accuracy = accuracy_score(y_test, val_preds)

print("Training Accuracy: {:.4}%".format(training_accuracy * 100))
print("Validation accuracy: {:.4}%".format(val_accuracy * 100))

Training Accuracy: 82.07%
Validation accuracy: 79.23%

In [ ]:
cm = confusion_matrix(y_test, val_preds)
print(cm)

In [ ]:
param_grid = {
    "learning_rate": [0.1],
    'max_depth': [6],
    'min_child_weight': [10],
    'subsample': [ 0.7],
    'n_estimators': [5, 30, 100, 250],
}

In [ ]:
grid_clf = GridSearchCV(clf, param_grid, scoring='accuracy', cv=None, n_jobs=1)
grid_clf.fit(X_train, y_train)

best_parameters = grid_clf.best_params_

print("Grid Search found the following optimal parameters: ")
for param_name in sorted(best_parameters.keys()):
    print("%s: %r" % (param_name, best_parameters[param_name]))

training_preds = grid_clf.predict(X_train)
val_preds = grid_clf.predict(X_test)
training_accuracy = accuracy_score(y_train, training_preds)
val_accuracy = accuracy_score(y_test, val_preds)

print("")
print("Training Accuracy: {:.4}%".format(training_accuracy * 100))
print("Validation accuracy: {:.4}%".format(val_accuracy * 100))

In [ ]:
cm = confusion_matrix(y_test, val_preds)
print(cm)

In [ ]:
# importance_type (str, default "weight") – How the importance is calculated: either "weight", "gain", or "cover"

# "weight" is the number of times a feature appears in a tree
# "gain" is the average gain of splits which use the feature
# "cover" is the average coverage of splits which use the feature where coverage is defined as the 
# number of samples affected by the split

fig, ax = plt.subplots(figsize=(12,18))
xgb.plot_importance(clf, max_num_features=100, height=0.8, ax=ax)
plt.show()